body {
	background-image: url('../img/index.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}

#link {
    background-color: none;
    background-size: cover;
	background-position: center;
}

a.link-div {
    display: block;
    height: 100%;
    width: 100%;    
}

.mobile {
	display: none;
	color: red;
			font-size: 3rem;
}

/*==============================
  RESPONSIVE DESIGN
==============================*/

/*(min-width means FROM 600px onwards, the following display will go into place)*/
/*max-wdith would be other way. From 600px backwards, these will display*/

@media screen and (max-width: 768px) {

body {
	background-image: url('../img/index-mobile_v1.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	}

	.mobile-text {
	display: flex;
	flex-direction: column;
	font-size: 3rem;
	color: white;
	align-items: center;
	}
}